@charset "utf-8";

/* わかりやすいように色をつけています */
ul {
  border: 4px solid #e8cca9;
}
ul li {
  background-color: #efefef;
  border: 1px solid #ed7a92;
  color: #111111;
}

/* 以下にFlexboxの練習 */
ul {
  display: flex;
}